* {
  box-sizing: border-box;
}

body {
    margin: 20px auto;
    width: 90%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: #214478;
}
nav ul li, footer ul li {
    display: block;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #214478;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #214478;
    border-bottom: 1px solid #808080;
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #214478;
}
h3{
  font-size: 1.5em;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  font-weight: bold;
  color: #214478;
}
h4{
  font-size: 1.25em;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  font-style: italic;
  color: #808080;
}
p {
    line-height: 1.4em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
footer {
    border-top: 3px solid #808080;
    font-size: .8em;
}
ul{
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  list-style-type: square;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.center {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.right{
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.rails{
  position:relative;
  display: inline;
  float: right;
}

sub, sup{
  font-size: 60%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup{
  top:-0.5em;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  align-items: center;
}

.column {
  flex: 100%;
  max-width: 100%;
  padding: 0 10px;
}

.column img {
  margin-top: 10px;
  vertical-align: middle;
}

@media only screen and (min-width:640px) {
  body{
    background-color: red;
    width: 85%;
  }
  .right{
    max-width: 40%;
    display: inline;
    height: auto;
    float: right;
    margin: 20px;
  }
  .column {
    flex: 50%;
    max-width: 50%;
    padding: 0 10px;
  }
}

@media only screen and (min-width:901px) {
  body{
    background-color: lightgreen;
    margin: 40px auto;
    width: 70%;
  }
  nav ul li, footer ul li {
    display: inline-block;
    margin-right: 20px;
  }
  .right{
    max-width: 50%;
  }
}
