* {
  box-sizing: border-box;
}

body {
    margin: 20px auto;
    width: 90%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: #214478;
}
nav ul li, footer ul li {
    display: block;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #214478;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #214478;
    border-bottom: 1px solid #808080;
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #214478;
}
h3 {
  font-size: 1.5em;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  font-weight: bold;
  color: #214478;
}
h4 {
  font-size: 1.25em;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  font-style: italic;
  color: #808080;
}
p {
    line-height: 1.4em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
footer {
    border-top: 3px solid #808080;
    font-size: .8em;
}
ul {
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  list-style-type: square;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.center {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 5px;
}

.right {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.rails {
  position:relative;
  display: inline;
  float: right;
}

sub, sup {
  font-size: 60%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top:-0.5em;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  align-items: center;
}

.column {
  flex: 100%;
  max-width: 100%;
  padding: 0 10px;
}

.column img {
  margin-top: 10px;
  vertical-align: middle;
}

@media only screen and (min-width:640px) {
  body {
    width: 85%;
  }
  .right {
    max-width: 40%;
    display: inline;
    height: auto;
    float: right;
    margin: 20px;
  }
  .column {
    flex: 50%;
    max-width: 50%;
    padding: 0 10px;
  }
}

@media only screen and (min-width:901px) {
  body {
    margin: 40px auto;
    width: 70%;
  }
  nav ul li, footer ul li {
    display: inline-block;
    margin-right: 20px;
  }
  .right {
    max-width: 50%;
  }
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 84px;
  font-size:14px;
}

.skew {
  transform: skewx(45deg) translate(-60px,0px);
  border-left: 1px solid black;
  background-color: #f1f1f1;
  height:120px;
  width: calc(calc(100vw - 84px) / 13);
  box-sizing: border-box;
}

.head {
  overflow: visible;
  direction:rtl;
  box-sizing: border-box;
  white-space: nowrap;
  height: 10px;
  width: 5.44vw;
  text-align: right;
  line-height: 10px;
  transform: skewX(-45deg) rotate(45deg) translate(calc(169.7px - 5.44vw), -2.72vw);
  transform-origin: 0% 0%;
  -ms-transform: skewX(-45deg) rotate(45deg) translate(calc(169.7px - 5.44vw), -2.72vw); /* IE 9 */
  -ms-transform-origin: 0% 0%; /* IE 9 */
  -webkit-transform: skewX(-45deg) rotate(45deg) translate(calc(169.7px - 5.44vw), -2.72vw); /* Safari 3-8 */
  -webkit-transform-origin: 0% 0%; /* Safari 3-8 */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  margin-left: 84px;
  border-style: hidden solid solid solid;
  border-width: 1px;
}

.grid-container > div {
  text-align: center;
  overflow: hidden;
  padding: 5px 0px;
  align: middle;
}

.ltkclient {background-color: Pink; border-top: 1px solid black; grid-column: span 13;}
.calclient {background-color: Khaki; border-top: 1px solid black; grid-column: span 13;}
.navyclient {background-color: LightSteelBlue; border-top: 1px solid black; grid-column: span 13;}
.proj{grid-column: span 10}
.jobdate {grid-column: span 3;}
.plan {background-color: CornflowerBlue; grid-column:span 4; border-style: hidden solid; border-width: 1px;}
.sim {background-color: Orange; grid-column: span 2;}
.analy {background-color: Gold; grid-column:span 3; border-style: hidden solid; border-width: 1px;}
.design {background-color: LightGreen; grid-column:span 3;}
.pm {background-color: Gray; grid-column: span 1; border-style: hidden solid; border-width: 1px;}
.ltk {background-color: Maroon; border-top: 1px solid black; grid-column: span 13; font-weight: bold; color: white;}
.cal {background-color: Gold; border-top: 1px solid black; grid-column: span 13; font-weight: bold;}
.navy {background-color: Navy; border-top: 1px solid black; grid-column:span 13; font-weight: bold; color: white;}

.pcheck{background-color:CornflowerBlue; font-weight:bold;}
.scheck{background-color:Orange; font-weight:bold;}
.acheck{background-color:Gold; font-weight:bold;}
.dcheck{background-color:LightGreen; font-weight:bold;}
.pmcheck{background-color:Gray; font-weight:bold;}

.wrap-collabsible {grid-column:span 13;}

input[type='checkbox'] {display: none;}

.lbl-toggle {
  display: block;
  text-align: center;
  background: DarkGray;
  cursor: pointer;
}

.lbl-toggle:hover {font-weight: bold;}

.lbl-toggle::before {content: '+';display: inline-block;}

.toggle:checked + .lbl-toggle::before {content: '-';}

.collapsible-content {max-height: 0px; overflow: hidden;}

.toggle:checked + .lbl-toggle + .collapsible-content {max-height: 80vh;}

.collapsible-content .content-inner {padding: 2px; text-align: left;}
