<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/" style="color:#214478;">Ted Rosenbaum</a></li>
		        	<li><a href="/about" style="color:#214478;">About</a></li>
	        		<li><a href="/cv" style="color:#214478;">CV</a></li>
	        		<li><a href="/writings" style="color:#214478;">Writings</a></li>
              <li><a href="/maps" style="color:#214478;">Maps</a></li>
              <li><a href="/art" style="color:#214478;">Art</a></li>
              <li><a href="https://twitter.com/masstransited" style="color:#214478"; target="_blank">@MassTransited</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ted.rosenbaum@gmail.com">email</a></li>
	        		<li><a href="https://github.com/transited">github.com/transited</a></li>
							<li><img class="foot" src="/Files/TRrails.png" alt="TR arrowhead logo" width="208" height="292" style="float:right"></li>
				</ul>
			</footer>
		</body>
	</html>
