<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Ted Rosenbaum</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/writings">Writings</a></li>
              <li><a href="/maps">Maps</a></li>
              <li><a href="/art">Art</a></li>
              <li><a href="https://twitter.com/masstransited"; target="_blank">@MassTransited</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
						<img class="rails" src="/Files/TRrails.png" alt="TR rails logo" width="26" height="37">
						<li><a href="mailto:ted.rosenbaum@gmail.com">email</a></li>
						</ul>

						<script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101264862);</script>
						<script async src="//static.getclicky.com/js"></script>
						<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101264862ns.gif" /></p></noscript>
			</footer>
		</body>
	</html>
