<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Ted Rosenbaum</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/writings">Writings</a></li>
              <li><a href="/maps">Maps</a></li>
              <li><a href="/art">Art</a></li>
              <li><a href="https://twitter.com/masstransited"; target="_blank">@MassTransited</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ted.rosenbaum@gmail.com">email</a></li>
	        		<li><a href="https://github.com/transited">github.com/transited</a></li>
							<li><img class="foot" src="/Files/TRrails.png" alt="TR arrowhead logo" width="26" height="37" style="float:right"></li>
				</ul>
			</footer>
		</body>
	</html>
